<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:locale" content="zh-tw">

  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
  <% } %>
  <% if (config.url){ %>
  <meta property="og:url" content="<%= config.url %>">
  <% } %>
  <% if (page.title){ %>
      <meta property="og:title" content="<%= page.title %>"/>
  <% } else { %>
      <meta property="og:title" content="<%= config.title %>"/>
  <% } %>
  <% if(page.title) { %>
  <meta property="og:type" content="article" />
  <% } else { %>
      <meta property="og:type" content="website" />
  <% } %>
  <% if (page.description){ %>
      <meta property="og:description" content="<%= page.description %>" />
  <% } else if (config.description) { %>
      <meta property="og:description" content="<%= config.description %>" />
  <% } %>
  <meta name="description" content="<%= config.description %>">
  <meta property="og:site_name" content="<%= config.title %>"/>
  <meta itemprop="image" content="<%= config.url %><%= theme.website_cover %>" />
  <meta property="og:image" content="<%= config.url %><%= theme.website_cover %>" />

  <!-- Title -->
  <%
  var title = [];
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive) {
      if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
      else title.push(__('archive_a'));
  }
  title.push(config.title);
  if (is_home() && config.subtitle) title.push(config.subtitle);
  %>
  <title><%= title.join(' - ') %></title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
<link rel="shortcut icon" href="<%- url_for(config.favicon || theme.favicon) %>">

  <!-- Custom CSS/Sass -->
<%- css('css/style') %>
<%- css('css/iconfont') %>
<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K3MS95C');
</script>
<!-- End Google Tag Manager -->
</head>
