<!DOCTYPE html>
<html lang="<%= config.language ? config.language : 'zh-tw' %>">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

  <div class="background">

    <!-- Nav -->
    <%- partial('_partial/nav') %>

    <!-- Main Content -->
    <%- body %>

    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>

  </div>
</body>

</html>
