<div class="post content-area">
<div class="post show-post">
    <!-- Post Content -->
    <div class="container">
      <article>
        <!-- Title date & tags -->
        <div class="post-header">
        <% if (page.categories) { %>
          <% page.categories.each(function(categories){ %>
            <p class="categories-links">
              <a href="<%= config.root %>categories/<%= categories.name %>/" rel="tag">
                <span>
                  <%- categories.name %>
                </span>
              </a>
            </p>
            <% }); %>
              <% } %>
          <h1 class="entry-title">
            <%- page.title || theme.default_post_title || "Untitled" %>
            <% if (page.subtitle && page.subtitle.length) { %>
              <p><%- page.subtitle %></p>
            <% } %>
          </h1>
          <p class="posted-on">
          <%= page.date.format(config.date_format) %>
          </p>
        </div>
        <!-- Post Main Content -->
        <div class="entry-content">
          <%- page.content %>
        </div>
      </article>
    </div>
    <!-- tags -->
<div class="post-bottom">
<div class="tags-links">
  <% if (page.tags) { %>
    <% page.tags.each(function(tag){ %>
      <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
        <span>
          <%- tag.name %>
        </span> |
        <span>
          <%- tag.length %>
        </span>
      </a>
      <% }); %>
        <% } %>
</div>
</div>
  </div>
</div>

<div class="author">
  <div class="photo">
    <img src="/img/leia.png">
  </div>

<div class="author-info">
<div class="title">AUTHOR</div>
<span class="author-eng-name">LEIA HSU</span>
<span class="author-zh-name">寇丁人妻 日安</span>
    <div class="contact">
      <a href="https://github.com/leiadot">
        <i class="iconfont icon-github"></i>
      </a>
      <a href="mailto:luv.hsu@gmail.com">
        <i class="iconfont icon-mail"></i>
      </a>
      <a href="https://www.facebook.com/CodingWifeHy2/">
        <i class="iconfont icon-facebook"></i>
      </a>
    </div>
  </div>
</div>

<div class="tag-clouds">
  <div class="page-title">tagclouds</div>
  <div class="tags-links">
    <% if (site.tags) { %>
      <% site.tags.each(function(tag){ %>
        <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
         <span>
            <%- tag.name %>
         </span> |
          <span>
            <%- tag.length %>
          </span>
        </a>
        <% }); %>
          <% } %>
  </div>
</div>

<!-- Pre or Next -->
<div class="container">
  <div class="post-pager">
    <% if (page.next) { %>
      <div class="revious">
        <a href="<%- config.root %><%- page.next.path %>" rel="prev">
          <%- __('prev')%>
        </a>
      </div>
      <% } %>
        <% if (page.prev) { %>
          <div class="next">
            <a href="<%- config.root %><%- page.prev.path %>" rel="next">
              <%- __('next')%>
            </a>
          </div>
          <% } %>
  </div>
</div>

<!-- Comments -->
<div class="gitTalk content-area">
<div class="show-post ">
    <%- partial('_partial/comment') %>
  </div>
</div>


