<head>
  <!-- Title -->
  <%
    var title = [];
    if (page.title) title.push(page.title);
    if (page.category) title.push(page.category);
    if (page.tag) title.push(page.tag);
    if (page.archive) {
        if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
        else title.push(__('archive_a'));
    }
    title.push(config.title);
    if (is_home() && config.subtitle) title.push(config.subtitle);
    %>
  <meta
    http-equiv="content-type"
    content="text/html; charset=utf-8"
  >
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css"
  >
  <meta
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    name="viewport"
  >
  <meta
    name="keyword"
    content="<%= config.keyword || theme.keyword %>"
  >
  <meta
    property="og:locale"
    content="zh-tw"
  >

  <% if (config.author){ %>
  <meta
    name="author"
    content="<%= config.author %>"
  >
  <% } %>
  <% if (config.url){ %>
  <meta
    property="og:url"
    content="<%= config.url %>"
  >
  <% } %>
  <% if (page.title){ %>
  <meta
    property="og:title"
    content="<%= page.title %>"
  />
  <% } else { %>
  <meta
    property="og:title"
    content="<%= config.title %>"
  />
  <% } %>
  <% if(page.title) { %>
  <meta
    property="og:type"
    content="article"
  />
  <% } else { %>
  <meta
    property="og:type"
    content="website"
  />
  <% } %>
  <% if (page.description){ %>
  <meta
    property="og:description"
    content="<%= page.description %>"
  />
  <% } else if (config.description) { %>
  <meta
    property="og:description"
    content="<%= config.description %>"
  />
  <% } %>
  <meta
    name="description"
    content="
<%= config.description  || theme.description %>"
  >
  <meta
    property="og:site_name"
    content="<%= config.title %>"
  />
  <meta
    itemprop="image"
    content="<%= config.url %><%= theme.website_cover %>"
  />
  <meta
    property="og:image"
    content="<%= config.url %><%= theme.website_cover %>"
  />
  <% if (config.favicon || theme.favicon){ %>
  <link
    rel="shortcut icon"
    type="image/ico"
    href="<%= config.favicon || theme.favicon %>"
  />
  <% } else { %>
  <%- favicon_tag('css/images/logo.svg') %>
  <% } %>
  <title>
    <% if (page.title){ %>
    <%= page.title %> |
    <%= config.title %>
    <% } else { %>
    <%= config.title %>
    <% } %>
  </title>
  <link
    href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  >
  <link
    href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css"
    rel="stylesheet"
  >
  <link
    href="//cdn.bootcss.com/highlight.js/9.12.0/styles/<%= theme.highlight %>.min.css"
    rel="stylesheet"
  >
  <%- css(['css/style']) %>
  <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/geopattern/1.2.3/js/geopattern.min.js"></script>
  <script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
  <%- partial('_third-party/mathjax') %>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K3MS95C');
  </script>
  <!-- End Google Tag Manager -->